%html{:lang => "en"}
  %head
    = render "shared/login_meta"
    = javascript_include_tag 'jquery1.11.1.min', 'jquery-ui.min', 'bootstrap.min'  
    = stylesheet_link_tag 'bootstrap.min', 'jquery-ui.min', 'style', 'corporate_program'          
    = yield(:head)
  %body
    %aside.login-top-main
      = render "shared/corporate_header"
      = yield
    = render "shared/buddy_footer"

