%ul
  %li
    - case namespace_for(current_user)
    - when "admin"
      = link_to t("global.edit"), edit_admin_user_path(@user)
    - when "site_admin"
      = link_to t("global.edit"), edit_site_admin_affiliate_path(@user)
    
  
  %li
    %strong Type:
    = @user.type

  %li
    %strong Email:
    = @user.email

  %li
    %strong Bucks:
    = @user.credits

  %li
    %strong Last login:
    = @user.last_sign_in_at ? @user.last_sign_in_at.to_s(:euro_sm_with_time) : "Never"

  - if @user.affiliate? or @user.bro?
    %li
      %strong Venues
      = @user.bars.length

  %li
    %strong Created: 
    = @user.created_at.to_s(:euro_sm_with_time)

  %li
    %strong Vouchers Sent:
    = @user.sent_ious.size

  %li
    %strong Vouchers Received:
    = @user.received_ious.size
