/ - Middle section start
- stylesheets "sites/buddybeers/sections/ious"
- content_for :add_page_js_css do
  = stylesheet_link_tag  'myaccount'
- content_for :head do
  :javascript  
    function check_name(){
      if($("#check_name").is(":checked")) {
          $("#button_with_name").show();
          $("#button").hide();
          $("#button_code textarea.code").html('&lt;script src="#{button_user_url(current_user, :format => :js, :name => true)}" type="text/javascript" charset="utf-8"&gt;&lt;/script&gt;');
        } else {
          $("#button_with_name").hide();
          $("#button").show();
          $("#button_code textarea.code").html('&lt;script src="#{button_user_url(current_user, :format => :js)}" type="text/javascript" charset="utf-8"&gt;&lt;/script&gt;');
        }
    }
    
    $(document).ready(function(){ 
      check_name();
      // $("#password_form label").inFieldLabels(); 
      $("#check_name").click(function(e){
        check_name();
      });
    });
    
/ = render :partial => "layouts/flash", :locals => { :flash => flash }
%section
  .container
    .row.account-middle-row
      .col-md-8.left.col-sm-8.col-xs-12
        .row
          .col-md-8.col-sm-8.col-xs-12.edit_account.padd-none
            %h1= t(".heading")
          .col-md-4.col-sm-4.col-xs-12.edit_account.padd-none.text-right
            - if current_user.avatar.file?
              %span.profile-img
                = image_tag(resource.avatar(:square))
                %span.delete-link
                  = link_to "Delete", users_delete_user_pic_path(:user_id => current_user)
              .clearfix
            -else
              %span.profile-img
                = image_tag("/images/icon-profile.png")

        = form_for resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :multipart => true, :class => 'set-top-margin' } do |f|
          = f.error_messages
          = render :partial => "form", :locals => {:f => f}
      .col-md-4.right.col-sm-4.col-xs-12.my_tab_right
        .row
          = render "/default/ious/new_buddy_bucks_payment"
          = render "/default/ious/script_for_button"
         
