<%#  Hello %{bar_name} %>
<p><strong><%= t(".salutation", :bar_name => @voucher_list.bar.name) %>,</strong></p>
<%# "You have sold all the %{amount} voucher codes on your current list. Congrats!" %>
<p><%= t(".sold_out", :amount => number_to_currency(@voucher_list.amount.to_f, :unit => @voucher_list.amount.currency.symbol)) %></p>
<%# "We've generated a new batch of unique codes for you. You can print out the new list of codes in order to double verify that the vouchers you receive are valid. You can access your voucher code list by logging into Buddy Drinks and visiting one of these URLs:" %>
<p><%= t(".explanation") %></p>

<p><%= "http://www.buddydrinks.com/#{I18n.locale}/affiliate/bars/#{@voucher_list.bar.friendly_id}/ious" %></p>

<p><%= t(".pdf") %>: <%= "http://www.buddydrinks.com/#{I18n.locale}/affiliate/bars/#{@voucher_list.bar.friendly_id}/ious.pdf" %></p>

<p><%= t(".thanks") %></p>

<% content_for :sidebar do %>
  <p><%= t(".post", :link => link_to("#{edit_affiliate_bar_url(@voucher_list.bar)}#notifications", "#{edit_affiliate_bar_url(@voucher_list.bar)}#notifications")).html_safe %></p>
<% end %>
