= "#{t('.salutation', :name => @bar.affiliate.name)},"

= "#{t('.description', :location_name => @bar.name, :time_frame => t(".timeframes.#{@timeframe.to_s}"))}:"

= "-----------------------------------------------------------------"

- @vouchers.each do |voucher|
  = [t(".coupon_code"), voucher.coupon].join(": ")
  = [t(".amount"), number_to_currency(voucher.amount.to_f, :unit => voucher.amount.currency.symbol)].join(": ")
  = [t(".redeemed"), voucher.redeemed_at.to_s(:euro_sm_with_time)].join(": ")


= "-----------------------------------------------------------------"

= t(".list_view", :link => 'http://www.buddybeers.com').html_safe

= t(".notifications", :link => "#{edit_affiliate_bar_url(@bar)}#notifications").html_safe