= render "site_admin/shared/tabs"
= form_for [:site_admin, @affiliate] do |f|
  = error_messages_for :affiliate
  %fieldset
    %legend New Affiliate
    = render "form", :f => f
    %ol
      %li
        = f.label :password, "Choose Password"
        = f.password_field :password
      %li
        = f.label :password_confirmation, "Confirm Password"
        = f.password_field :password_confirmation
    %ul
      %li= f.submit
