%h1
  - if @bar.affiliate
    = @bar.affiliate.name
    &ndash;
  = @bar.name

= render "site_admin/shared/tabs"
= render "bar_tabs"

= form_for [:site_admin, @bar], :html => { :multipart => true } do |f|
  = render "shared/admin/bars/form", :f => f
