/ default > registrations > new

#new_user
  %h1= t(".heading")

  = form_for resource, :as => :customer, :url => registration_path(resource_name) do |f|
    = f.error_messages(:header_message => nil)
    %fieldset
      %legend= t(".form.legend")
      %ol
        %li
          = f.label :login, t("forms.labels.choose_username")
          = f.text_field :login
        = f.fields_for :emails do |emails_form|
          %li
            = emails_form.label :email, t("forms.labels.your_email")
            = emails_form.text_field :email
        %li
          = f.label :password, t("forms.labels.choose_password")
          = f.password_field :password
        %li
          = f.label :password_confirmation, t("forms.labels.confirm_password")
          = f.password_field :password_confirmation

      %ul
        %li= f.submit t(".form.button")
        %li= link_to t("forms.links.cancel"), root_url

  = render :partial => "shared/network_connect"