/ default > bars > benefits

#benefits
  %h2= t(".heading")
  
  #customers
    %h4= t(".customers.heading")
    %p= raw t(".customers.description")

  #income
    %h4= t(".income.heading")
    %p= raw t(".income.description")

  #web
    %h4= t(".web.heading")
    %p= raw t(".web.description")

  #setup
    %h4= t(".setup.heading")
    %p= raw t(".setup.description")