%ol
  - if f.object and !f.object.new_record?
    %li
      / For existing records we add a checkbox to be able to delete records.
      = f.label :_destroy, "#{t("forms.labels.remove")}:"
      = f.check_box :_destroy, :class => "checkbox"
      
  %li
    = f.label :name
    = f.text_field :name
  %li
    = f.label :amount, "#{t("forms.labels.price")}:"
    = f.hidden_field :currency, :value => @bar.default_currency
    %span.currency= currency_symbol_for(@bar.default_currency).html_safe
    = f.text_field :amount
  %li.special_price
    %ol
      %li
        %label{ :for => 'price_discounted', :class => 'long'}
          = "#{t("forms.labels.discounted")}: "
          = f.check_box :discounted
      %li
        = f.label :discounted_amount, "#{t("forms.labels.discounted_price")}:"
        = f.text_field :discounted_amount
    = clear_floats
  %li
    = link_to "Additional Options", "#", :id => "advanced_link", :class => "inactive"
    %ol.additional_options
      %li.description
        = f.label :description
        = f.text_area :description
      %li.drink_types
        = f.label :drink_type_id
        - DrinkType.all.each do |drink_type|
          %span.label= "#{t("activerecord.models.#{drink_type.to_s.underscore}")}:"
          = f.radio_button :drink_type_id, drink_type.id
      %li.volume
        = f.label :volume, "#{t("forms.labels.volume")}:"
        = f.text_field :volume