- content_for :facebook do
  :plain
    //FB.Canvas.setSize();
    FB.Canvas.setAutoResize();

- if @validity
  
  #check.registered
    %h1= t(".congrats")
  
    .drink
      .avatar.sender= image_tag order_participant_photo(@order, "sender", "sites/carlsberg/avatars/thumb/missing.png")
      .avatar.recipient= image_tag(order_participant_photo(@order, "recipient", "sites/carlsberg/avatars/thumb/missing.png"), :alt => @order.recipient_name, :height => "53px", :width => "53px")

      .description
        %p= raw t("ious.index.description", :sender => (@order.sender_name.blank? ? t("ious.index.sender_generic") : @order.sender_name), :recipient => t("ious.index.you"), :drink => [@order.quantity, @order.price_name].join(" "), :bar => link_to(@order.bar_name, bar_url(@order.bar)), :city => @order.bar.city.name)
      - if @order.memo.present?
        .memo
          .bubble
            %p= @order.memo
      
      = clear_floats
      
    - unless @order.expired?
      #vouchers
        - @order.vouchers.each_with_index do |voucher, index|
          = link_to(content_tag(:span, t("ious.index.voucher_number", :number => index + 1)), facebook_voucher_url(voucher), :class => "voucher") unless voucher.redeemed?
        = clear_floats
        
    %p.date
      = @order.created_at.to_s(:twitter_format_w_year)
      - if @order.expired? and @order.expires_at
        &ndash;
        %strong= t("ious.index.expired", :date => @order.expires_at.to_s(:euro_date))
      - elsif @order.expires_at.present? and !@order.redeemed?
        &ndash;
        %strong= t("ious.index.expires", :distance => distance_of_time_in_words(Time.now, @order.expires_at, false), :date => @order.expires_at.to_s(:euro_date))
      - elsif @order.redeemed? and @order.vouchers.present?
        &ndash;
        %strong= t("ious.index.redeemed", :date => @order.vouchers.last.redeemed_at.to_s(:euro_date))


- else

  - content_for :head do
    :javascript
      $(document).ready(function() {
        $("#fblogin a").click(function(e){
          top.location.href = $(this).attr("href");
          e.preventDefault;
        });
      });

  #check.unregistered
  
    %h1= t(".welcome")
    
    #notice
      %p= t(".notice")
  
    #fblogin
      .login_link= link_to content_tag(:span, t(".connect_link")), @oauth.url_for_oauth_code(:callback => "http://apps.facebook.com/#{current_site.facebook_app_url}/?order_id=#{@order.id}", :permissions => "email, publish_stream")
      %p
        %strong= "#{t(".permissions.heading")}:" 
        = raw t(".permissions.description")