%h2=  t(".heading")
  
%p= link_to image_tag("/press/Buddy-Beers-Logo-sm.png") + t(".logo"), "/press/Buddy-Beers-Logo.png", :rel => "nofollow"

%p= link_to image_tag("/press/Buddy-Beers-Stamp-sm.png") + t(".stamp"), "/press/Buddy-Beers-Stamp.png", :rel => "nofollow"

%p= link_to image_tag("/press/iphone.png") + t(".iphone"), "/press/BuddyBeers_iPhoneApp.zip", :rel => "nofollow"

%p= link_to image_tag("/press/BuddyBeers_Founders_sm.jpg") + t(".founders"), "/press/BuddyBeers_Founders.jpg", :rel => "nofollow"