%h2= "1. #{t(".general.heading")}"
%p= "1.1. #{t(".general.one")}"
%p= "1.2. #{t(".general.two")}"
%p= "1.3 #{t(".general.three")}"
%p= "1.4 #{t(".general.four")}"

%h2= "2. #{t(".operator.heading")}"
%p= raw t(".operator.body")

%h2= "3. #{t(".purchasing.heading")}"
%p= t(".purchasing.description")
%ol
  %li= t(".purchasing.steps.one")
  %li= t(".purchasing.steps.two")
  %li= t(".purchasing.steps.three")
  %li= t(".purchasing.steps.four")
  %li= t(".purchasing.steps.five")
  %li= t(".purchasing.steps.six") 
  %li= t(".purchasing.steps.seven")
%p= t(".purchasing.end")

%h2= "4. #{t(".vouchers.heading")}"
%p= "4.1 #{t(".vouchers.one")}"
%p= "4.2 #{t(".vouchers.two")}"
%p= "4.3 #{t(".vouchers.three")}"
%p= "4.4 #{t(".vouchers.four")}"
%p= "4.5 #{t(".vouchers.five")}"
%p= "4.6 #{t(".vouchers.six")}"

%h2= "5. #{t(".warranty.heading")}"
%p= "5.1. #{t(".warranty.one")}"
%p= "5.2. #{t(".warranty.two")}"
%p= "5.3 #{t(".warranty.three")}"

%h2= "6. #{t(".functionality.heading")}"
%p= t(".functionality.body")

%h2= "7. #{t(".partner.heading")}"
%p= "7.1 #{t(".partner.one")}"
%p= "7.2 #{t(".partner.two")}"
%p= "7.3 #{t(".partner.three")}"
%p= "7.4 #{t(".partner.four")}"
%p= "7.5 #{t(".partner.five")}"

%h2= "8. #{t(".copyright.heading")}"
%p= "#{t(".copyright.body")}"

%h2= "9. #{t(".change.heading")}"
%p= "9.1. #{t(".change.one")}"
%p= "9.2. #{t(".change.two")}"

%h2= t(".severability.heading")
%p= t(".severability.body")

%h2= "11. #{t(".law.heading")}"
%p= "11.1 #{t(".law.one")}"
%p= "11.2 #{t(".law.two")}"